<div style="text-align: center">

  <button type="button" (click)="matchService.addPoint('challenger')" class="btn btn-primary">
    {{matchService.currentMatch.challenger}}
  </button>
  <button type="button" class="btn btn-primary">
    {{matchService.currentMatch.challengerScore}}
  </button>
  <button *ngIf="matchService.currentMatch.challengerServing == true" type="button" class="btn btn-secondary">
    Serving
  </button>
  <p>VS</p>

  <button type="button" (click)="matchService.addPoint('opponent')" class="btn btn-primary">
    {{matchService.currentMatch.opponent}}
  </button>
  <button type="button" class="btn btn-secondary">
    {{matchService.currentMatch.opponentScore}}
  </button>
  <button *ngIf="matchService.currentMatch.challengerServing == false" type="button" class="btn btn-secondary">
    Serving
  </button>
</div>
