<form
  class="form-group"
  [formGroup]="challengeForm"
  (ngSubmit)="onSubmit(challengeForm)"
>
  <div class="row justify-content-center">
    <div class="col-5">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="opponent"
          [matAutocomplete]="auto"
        />
      </mat-form-field>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let opponent of profileService.profiles$"
          [value]="opponent"
          >{{ opponent.name }} aka {{ opponent.nickname }}</mat-option
        >
      </mat-autocomplete>
    </div>
    <div class="col-5">
      <button type="submit" class="btn btn-primary">Challenge</button>
    </div>
  </div>
</form>
