<form
  class="form-group"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit(loginForm)"
>
  <div class="row justify-content-center">
    <div class="col-4">
      <h1 class="text-center">Login</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <label for="email">Email Address</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <button
        type="submit"
        class="btn btn-secondary"
        routerLink="/create-profile"
      >
        Create Profile
      </button>
    </div>
  </div>
</form>
